header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1em;
}

body {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 52em;
    background-color: var(--dark-green);
    color: var(--cornsilk);
    /* CSS HEX */
    --cal-poly-green: #064b26ff;
    --dark-green: #002310;
    --dark-green2: #043319;
    --fern-green: #59723cff;
    --yinmn-blue: #356198;
    --cadet-gray: #929fb5ff;
    --cornsilk: #fef7e0ff;
}

div.item:nth-child(odd) {
    background-color: var(--dark-green2);
}

div.item {
    border-radius: .25em;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    padding: .25em 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1em;
}

/* div.index {
    flex-grow: 1;
} */

div.content {
    flex-grow: 2;
}

a {
    color: var(--cadet-gray);
    text-decoration: none;
    padding: 0.25em;
}

a:visited {
    color: var(--yinmn-blue);
}

.icon {
    background-color: var(--fern-green);
    padding: .25em;
}

p, h2 {
    margin: .25em 0em;
    
}

h2 {
    font-size: medium;
    font-style: normal;
}

/* discord button */
#discord-logo {
    height: 2em;
    height: 2em;
    margin: 1em;
}

div.discord-link {
    --burple: #5865F2;
    border-radius: 0.5em;
    width: fit-content;
    display: flex;
    background-color: var(--burple);
    align-items: center;
    color: white;
}

div.discord-link > p {
    margin: 1em;
    margin-left: 0;
}