header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1em;
}

body {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 52em;
}

tr {
    height: 2em;
}

