<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ningit</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>ningit</h1>
        <p>Latin for it is snowing</p>
        <form hx-post="/post" hx-ext="json-enc">
            <input type="number" name="user_id" value=5>
            <input type="text" name="title" value="title">
            <input type="text" name="content" value="content">
            <input type="submit" value="Submit">
        </form>
        <!-- <button hx-target="#me" hx-post="/post" hx-vals='{"user_id": 5, "title": "test", "content": "test"}'>Submit</button>
        <p id="me"></p> -->
        <table>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Content</th>
                <th>Postid</th>
            </tr>
            <tr>
                <td>I hope it snows</td>
                <td>Daniel</td>
                <td>It will snow</td>
            </tr>
            <tr>
                <td>Skiing</td>
                <td>Daniel</td>
                <td>I am Skiing rn</td>
            </tr>
            <tr id="replaceme">
                <td>
                    <button hx-get="/html/posts/all" hx-target="#replaceme" hx-swap="outerHTML">test</button>
                </td>
            </tr>
        </table>
        
    </main>
    <footer>

    </footer>
</body>
</html>