{%for post in posts%}
    {% if editable %}
    <tr hx-target="this" hx-swap="outerHTML">
    {% else %}
    <tr>
    {% endif %}
        <td><a href="/post/{{post.postid}}">{{post.title}}</a></td>
        <td><a href="/user/{{post.username}}">{{post.username}}</a></td>
        <td>{{post.content}}</td>
        {% if editable %}
        <td>
            <button hx-get="/api/post/{{post.postid}}/edit" class="btn primary">
                Click To Edit
            </button>
        </td>
        {% endif %}
    </tr>
{% endfor %}

{% if editable %}
<tr hx-get="/api/user/posts/{{posts.iter().next().unwrap().username}}?page_number={{page}}" hx-target="this" hx-trigger="revealed" hx-swap="outerHTML">

</tr>
{% else %}
<tr hx-get="/api/html/posts?page={{page}}" hx-target="this" hx-trigger="revealed" hx-swap="outerHTML">

</tr>
{% endif %}

