{% extends "base.html" %}


{% block content %}
<div 
    hx-target="this"
    hx-swap="innerHTML"
    hx-get="/api/user/{{username}}"
    hx-trigger="revealed"
    >
    clickme
</div>

<table>
    <tr>
        <th id="test">Title</th>
        <th>User</th>
        <th>Content</th>
        <th>Editable</th>
    </tr>
    <tr id="replaceme">
        
    </tr>
</table>
<table>
    <tr hx-get='/api/user/posts/{{username}}' hx-trigger="revealed" hx-swap="afterend">
        <th>Title</th>
        <th>User</th>
        <th>Content</th>
    </tr>
</table>
{% endblock %}