{% extends "base.html" %}


{% block content %}
<div 
    hx-target="this"
    hx-swap="innerHTML"
    hx-get="/api/user/{{username}}"
    hx-trigger="revealed"
    >
    clickme
</div>

<form hx-post="/api/post" hx-ext="json-enc" hx-vals='{"username": "{{username}}"}''>
    
    <input type="text" name="title" value="title">
    <input type="text" name="content" value="content">
    <input type="submit" value="Submit">
</form>
<div class="container">
    <div hx-get='/api/user/posts/{{username}}' hx-trigger="revealed" hx-swap="outerHTML"></div>
</div>
{% endblock %}