<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="/" class="icon"><img src="/static/images/favicon-16x16.png" alt="Ski"></a>
        <a href="/signup">sign up</a>
        <a href="/api/protected">protected</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>