{% if editable %}
<div hx-target="this" hx-swap="outerHTML" class="item">
{% else %}
<div class="item">
{% endif %}
    <div class="index">
        {{i}}
    </div>
    <div class="content">
        <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
        <div>
            {% if editable %}
            <button hx-get="/api/post/{{post.id}}/edit" class="btn primary">
                Click To Edit
            </button>
            <button hx-delete="/api/post/{{post.id}}" hx-swap="innterHTML" class="btn primary" hx-confirm="Are you sure?">
                Delete
            </button>
            {% else %}
            <p>user: <a href="/user/{{post.username}}">{{post.username}}</a></p>
            {% endif %}
        </div>
    </div>
</div>