{% if editable %}
<li hx-target="this" hx-swap="outerHTML">
{% else %}
<li>
{% endif %}
  <a class="upvote" href="/login">0</a>
  {% if let Some(link) = post.link %}
  <p id="title"><a href="{{link}}">{{post.title}}</a></p>
  {% else %}
    <p id="title"><a href="/post/{{post.id}}">{{post.title}}</a></p>
  {% endif %}

  {% if editable %}
  <button hx-get="/api/post/{{post.id}}/edit" class="btn primary">
      Click To Edit
  </button>
  <button hx-delete="/api/post/{{post.id}}" hx-swap="innterHTML" class="btn primary" hx-confirm="Are you sure?">
      Delete
  </button>
  {% else %}
  <p id="extra"><a id="user" href="/user/{{post.username}}">{{post.username}}</a> | <a id="post" href="/post/{{post.id}}">comments</a></p>
  {% endif %}
</li>
