{% extends "base.html" %}


{% block content %}
<!-- <form hx-post="api/user" hx-ext="json-enc" hx-target="#test">
    <label for="username">username:</label>
    <input type="text" name="username" id="username" required>
    <label for="email">email:</label>
    <input type="email" name="email" id="email" required>
    <label for="password">password:</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Submit">
</form> -->
<p>Right now we only have discord oauth set up. If you'd like to see a real login or google sso please contact me.</p>
<div style="display: flex; justify-content: center;">
  <a href="{{link}}"> 
      <div class="discord-link">
          <img id="discord-logo" src="static/images/discord-mark-white.png" alt="discord logo">
          <p>Sign Up with Discord</p>
      </div>
  </a>
</div>
{% endblock %}
